<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'room-index' %}">home</a>
    </div>
    <div>
        {% for house in houses %}
          <button>
            <a href="{% url 'house-detail' house.pk %}">
                <h2>
                    {{house.house_name }}: {{house.house_no}}
                  </h2>
                  <p>
                    Owner: {{house.owner_name}}
                    <br/>
                    Address: {{house.address}} 
                    <br/>
                    Contact Number: {{house.contact_no}}
                  </br>
                    Property Type : {{house.property_type}}
                  </p>
                  <hr>
              </a>
          </button>
        {% endfor %}
    </div>
</body>
</html>